hbox.website-selection{
	background: #EEE;
	border-bottom: 1px solid #ccc;
}
listitem.excluded{
	color: red;
}
label.panelToggle{
	margin-top: 3px;
}
treechildren::-moz-tree-image(modules_referencing_preferences){
	list-style-image: url(/changeicons/small/seo.png) ;
}
treechildren::-moz-tree-image(modules_referencing_redirection){
	list-style-image: url(/changeicons/small/undo.png) ;
}
treechildren::-moz-tree-image(modules_referencing_urlrewritinginfo){
	list-style-image: url(/changeicons/small/star_yellow.png) ;
}

treechildren::-moz-tree-image(modules_referencing_websiteinfo){
	list-style-image: url(/changeicons/small/document.png);
}